#editor * {
  margin-top: 0;
}

.welcome {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-title {
  font-weight: normal;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.welcome-image {
  width: 100px;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.welcome-content {
  width: 85%;
  line-height: 1.5;
  text-align: center;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.welcome-content * {
  margin: 0;
}

#editor-file-topbar {
  background-color: #007bff;
  color: #fff;

  padding: 10px;

  position: sticky;
  top: 0;
}

#editor-file-title {
  position: relative;
  font-weight: bold;
  display: inline-block;
  margin: 5px 0 10px 0;
  max-width: 300px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#editor-file-title::after {
  content: "";
  border-bottom: 2px solid #fff;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;

  transition: width .3s ease;
}

#editor-file-title:focus:after {
  width: 100%;
}

#editor-file-toolbar {
  width: 100%;

  font-size: 16px;

  margin-bottom: 7px;

  display: inline-flex;

  user-select: none;
}

.toolbar-section {
  list-style: none;
  margin: 0;
  padding: 0;

  padding: 0 3px;

  display: inline-flex;
  flex-wrap: wrap;
}

.toolbar-section li {
  display: inline-flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;

  padding: 1px;
  margin: 2px 2px 10px 2px;

  border: 1px solid #fff;
  border-radius: 4px;

  box-shadow: 0 4px 0 0 #eee;

  position: relative;
  top: 0;

  cursor: pointer;
  transition: all .3s ease;
}

.toolbar-section li:active {
  background-color: #fff;
  color: #007bff;

  box-shadow: none;
  top: 4px;
  border: 1px solid #007bff;
}

.toolbar-section li b { color: #fff; font-size: 14px; }
.toolbar-section li:hover b { color: blue; }
.subheader-number-symbol { font-size: 10px }

#editor-file-content {
  padding: 10px;
  width: 100%;

  word-wrap: break-word;

  clear: both;
}

#editor-file-content p,
#editor-file-content ul li,
#editor-file-content ol li {
  line-height: 1.5;
}