#editor * {
  margin-top: 0;
}

.welcome {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-title {
  font-weight: normal;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.welcome-image {
  width: 100px;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.welcome-content {
  width: 85%;
  line-height: 1.5;
  text-align: center;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.welcome-content * {
  margin: 0;
}

#editor-file-topbar {
  background-color: #007bff;
  color: #fff;

  padding: 10px;
}

#editor-file-title {
  position: relative;
  font-weight: bold;
  display: inline-block;
  margin: 0 0 7px 0;
}

#editor-file-title::after {
  content: "";
  border-bottom: 1px solid #fff;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -1.5px;
  left: 0;

  transition: width .3s ease;
}

#editor-file-title:focus:after {
  width: 100%;
}

#editor-file-toolbar {
  width: 100%;

  font-size: 16px;

  margin-bottom: 7px;
}

.toolbar-section {
  list-style: none;
  margin: 0;
  padding: 0;

  display: inline-block;
}

.toolbar-section li {
  display: inline-flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  padding: 1px;

  border: 1px solid #fff;
  border-radius: 4px;

  box-shadow: 0 4px 0 0 #eee;

  position: relative;
  top: 0;

  cursor: pointer;
  transition: all .3s ease;
}

.toolbar-section li:hover {
  background-color: #fff;
  color: #007bff;

  box-shadow: 0 3px 0 0 #007bff, 0px 4px 0 0 #eee;
  border: 1px solid #007bff;
}

.toolbar-section li b { color: #fff; font-size: 14px; }
.toolbar-section li:hover b { color: blue; }

#editor-file-content {
  padding: 10px;
  width: 100%;

  word-wrap: break-word;

  clear: both;
}

#editor-file-content p,
#editor-file-content ul li,
#editor-file-content ol li {
  line-height: 1.5;
}