html, * {
  box-sizing: border-box;
  outline: none;
}

html, body {
  font-family: "Roboto", sans-serif;
  margin: 0; padding: 0;
  height: 100%;
}

input, button {
  font-family: "Roboto", sans-serif;
}

#main {
  height: 100%;
  display: flex;
}

#sidebar {
  background-color: #007bff;
  color: #fff;
  padding: 10px;

  width: 30%;

  position: relative;

  border-right: 1px solid #fff;

  overflow: auto;

  /*box-shadow: 3px 0 5px 5px #222;*/
}

#editor {
  width: 70%;

  overflow: auto;
}

#add-document {
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #007bff;
  color: #fff;
  border: 2px solid #fff;
  padding: 2px;

  display: grid;
  place-items: center;

  width: 30px;
  height: 30px;

  border-radius: 50px;
  box-shadow: 0px 4px 0px #eeeeee;

  transition: all .3s ease;
}

#add-document:active {
  top: 14px;
  box-shadow: none;
}

.sidebar-title {
  letter-spacing: 2px;
  margin: 6px 0 0 0;
}

#file-search {
  width: 100%;
  padding: 3px;
  margin: 12px 0 5px 0;

  border: none;
  border-bottom: 2px solid #fff;
  
  background-color: initial;
  color: #fff;

  font-size: 14px;
}

#file-search::placeholder {
  color: #fff;
}

#file-list {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;
}

#file-list li {
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  padding: 10px;
  margin: 7px 0;
  border: 2px solid #fff;
  transition: all .3s ease;
}

#file-list li:hover {
  background-color: #007bff;
  color: #fff;
}

.files-filename {
  font-weight: bold;
  font-size: 16px;
}

.files-datecreated {
  font-size: 12px;
}

.opened {
  border: 20px solid #23a126;
}
