html, * {
  box-sizing: border-box;
  outline: none;
}

html, body {
  font-family: "Roboto", sans-serif;
  margin: 0; padding: 0;
  height: 100%;
  scrollbar-width: none;
}

input, button {
  font-family: "Roboto", sans-serif;
}

#main {
  height: 100%;
  display: flex;
}

#sidebar {
  background-color: #007bff;
  color: #fff;
  padding: 0 10px 10px 10px;

  width: 30%;

  position: relative;

  border-right: 1px solid #fff;

  overflow: auto;

  display: flex;
  flex-direction: column;

  /*box-shadow: 3px 0 5px 5px #222;*/
  scrollbar-width: none;
}

#editor {
  width: 70%;

  overflow: auto;
}

#add-document {
  z-index: 20;

  font-size: 16px;
  position: absolute;
  top: 14px;
  right: 0;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #fff;
  padding: 1px;

  display: grid;
  place-items: center;

  width: 30px;
  height: 30px;

  border-radius: 50px;
  box-shadow: 0px 4px 0 0 #eeeeee;

  transition: all .1s ease;
  cursor: pointer;
}

#add-document:active {
  top: 20px;
  box-shadow: none;
}

.sidebar-title {
  letter-spacing: 1px;
  margin: 0;

  padding: 14px 0 5px 0;

  background-color: #007bff;
  position: sticky;
  z-index: 10;
  top: 0px;
}

.sidebar-title h2 {
  margin: 0;
}

.no-file-message,
.no-file-search-message {
  line-height: 1.5;
}

#file-search {
  width: 100%;
  padding: 5px;
  margin: 11px 0 0 0;

  border: none;
  border-radius: 10px;

  background-color: #fff;
  color: #000;

  font-size: 14px;
  font-weight: bold;
}

#file-search::placeholder {
  color: #000;
}

#file-list {
  list-style: none;
  width: 100%;
  padding: 0 0 50px 0;
  margin: 0 0 0 0;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  animation: file-created .3s ease forwards;
}

#file-list li {
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  color: #000;
  padding: 5px;
  margin: 7px 0;
  border: 1px solid #fff;
  transition: all .3s ease;

  position: relative;
}

#file-list li:hover {
  background-color: #007bff;
  color: #fff;
}

#file-list button, .welcome-content button {
  /*border: 1px solid #007bff;*/
  border-radius: 10px;
  padding: 5px;
  /*background-color: #fff;*/
  /*color: #000;*/
  font-weight: bold;

  margin: 3px 0 7px 3px;
  position: relative;
  top: 0;
  /*box-shadow: 0 6px 0 0 #eee, 0 8px 0 0 #007bff;*/

  transition: all .1s ease;
  cursor: pointer;
}

#file-list button:active,
#new-file-button button:active,
.duplicate-file-button button:active,
#get-started-button:active {
  top: 8px;
  box-shadow: none;
}

#get-started-button {
  width: 150px;
}

.delete-file-button {
  border: 1px solid #222;
  background-color: #c33c23;
  color: #fff;
  box-shadow: 0 6px 0 0 #dc453d, 0 8px 0 0px #222;
}

.duplicate-file-button {
  border: 1px solid #222;
  background-color: #3f69aa;
  color: #fff;
  box-shadow: 0 6px 0 0 #3f69aa, 0 8px 0 0px #222;
}

#new-file-button, #get-started-button {
  border: 1px solid #222;
  background-color: #3f69aa;
  color: #fff;
  box-shadow: 0 6px 0 0 #3f69aa, 0 8px 0 0px #222;
}

.files-filename {
  font-weight: bold;
  font-size: 16px;

  max-width: 100%;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.files-datecreated {
  font-size: 11px;
}

.files-action {
  display: flex;
  justify-content: flex-end;
} 

.opened {
  border: 20px solid #23a126;
}

#notification-trigger {
  position: fixed;
  right: 10px;
  top: 10px;

  padding: 5px;
  border-radius: 10px;

  background-color: #fff;
  color: #007bff;
  border: 1px solid #007bff;

  max-width: 250px;

  font-size: 13px;

  display: none;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  animation: notification-in .5s ease;
}

@keyframes notification-in {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes file-created {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}