html, * {
  box-sizing: border-box;
}

html, body {
  font-family: "Roboto", sans-serif;
  margin: 0; padding: 0;
  height: 100%;
}

#main {
  height: 100%;
  display: flex;
}

#sidebar {
  background-color: #007bff;
  color: #fff;
  padding: 10px;

  width: 30%;
  min-width: 25%;

  position: relative;

  resize: horizontal;
  overflow: auto;

  /*box-shadow: 3px 0 5px 5px #222;*/
}

#add-document {
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #007bff;
  color: #fff;
  border: 2px solid #fff;
  padding: 2px;

  display: grid;
  place-items: center;

  width: 30px;
  height: 30px;

  border-radius: 50px;
}

#editor {
  padding: 10px;

  min-width: 60%;
  min-width: 70%;
  max-width: 75%;

  resize: horizontal;
  overflow: auto;
}

form[name='fileAdd'] {
  padding: 5px;
  margin: 5px;
}

.form-field-section * {
  margin: 3px;
  width: 100%;
}

.sidebar-title {
  letter-spacing: 2px;
  margin: 0;
}

#file-list {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  display: inline-block;
}

#file-list li {
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  padding: 10px;
  margin: 7px 0;
  border: 2px solid #fff;
  transition: all .3s ease;
}

#file-list li:hover {
  background-color: #007bff;
  color: #fff;
}

.files-filename {
  font-weight: bold;
  font-size: 16px;
}

.files-datecreated {
  font-size: 12px;
}

.opened {
  border: 20px solid #23a126;
}

#editor * {
  margin-top: 0;
}

.welcome {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-title {
  font-weight: normal;
}

.welcome-image {
  width: 100px;
}

.welcome-content {
  width: 70%;
  line-height: 1.5;
  text-align: center;
}

.welcome-content * {
  margin: 0;
}

#editor-file-title, #editor-file-toolbar {
  margin: 0 0 7px 0;
  /*padding: 10px;*/
  /*border-radius: 10px;*/
  /*border: 2px solid #000;*/
  /*background-color: #fff;*/
  /*color: #000;*/
  /*transition: all .3s ease;*/
}

/*#editor-file-title:hover, #editor-file-toolbar:hover {
  background-color: #007bff;
  color: #fff;
}

#editor-file-title:focus {
  border: 2px solid #007bff;
  background-color: #fff;
  color: #000;
}*/

#editor-file-title {
  position: relative;
  font-weight: bold;
  display: inline-block;
}

#editor-file-title::after {
  content: "";
  border-bottom: 2px solid #000;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;

  transition: width .3s ease;
}

#editor-file-title:focus:after {
  width: 100%;
}

#editor-file-toolbar {
  width: 100%;

  font-size: 16px;
}

.toolbar-section {
  list-style: none;
  margin: 0 5px 0 0;
  padding: 0;

  display: inline-block;
}

.toolbar-section li {
  display: inline-block;
  padding: 2px;
  margin: 0 .5px 0 0;

  border-radius: 4px;

  position: relative;

  cursor: pointer;
}

.toolbar-section li b {
  color: blue;
}

#editor-file-content {
  margin-top: 20px;
  width: 100%;

  word-wrap: break-word;

  clear: both;
}