html, * {
  box-sizing: border-box;
}

html, body {
  font-family: "Karla", sans-serif;
  margin: 0; padding: 0;
  height: 100%;
}

#main {
  height: 100%;
  display: flex;
}

#sidebar {
  background-color: #007bff;
  color: #fff;
  padding: 10px;

  width: 30%;

  resize: horizontal;
  overflow: auto;
}

#editor {
  padding: 10px;

  resize: horizontal;
  overflow: auto;
}

form[name='fileAdd'] {
  display: none;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #000;
}

#file-list {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;
}

#file-list li {
  border-radius: 50px;
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #fff;
  transition: all .3s ease;
}

#file-list li:hover {
  background-color: #007bff;
  color: #fff;
}

#editor * {
  margin-top: 0;
}


#editor-file-title, #editor-file-toolbar {
  margin: 5px 0;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  transition: all .3s ease;
}

#editor-file-title:hover, #editor-file-toolbar:hover {
  background-color: #007bff;
  color: #fff;

  display: block;
}

#editor-file-title:focus {
  border: 5px solid #007bff
  background-color: #fff;
  color: #000;
}

#editor-file-title {
  font-weight: bold;
  display: inline-block;
}

#editor-file-content {
  margin-top: 20px;
}