@keyframes zoom-in {
  from { transform:scale(0); } 
  to { transform:scale(1); }
}

.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-window {
  background-color: #fff;
  width: 400px;
  padding: 10px;

  animation: zoom-in .5s;
}